.container {
  display: flex;
}

.vertical {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 50px;
}

.error {
  color: Red;
}

.active {
  border: 3px solid Black;
}

.hurray {
  color: Green;
}
