.app {
  width: 600px;
}

h2 {
  display: inline;
  padding-right: 30px;
}

a {
  color: White;
}

.logo {
  color: yellowgreen;
  margin-right: 400px;
}

.count {
  color: yellowgreen;
}

.product {
  background: lightgray;
  margin: 5px 0px 5px 0px;
  padding: 5px 0px 5px 10px;
  color: #666666;
}

.product-name {
  display: inline;
}

.footer {
  color: yellowgreen;
  font-size: 10pt;
}

hr {
  border-color: yellowgreen;
}

.red {
  color: Red;
}
